<div class="container-fluid">
  <div class="search">
    <div class="cad">
      <h1>Frutas</h1>
    </div>
    <form class="d-flex justify-content-center">
      <div class="input-group w-75">
        <input type="text" class="form-control" placeholder="Consultar por nome" aria-describedby="button-addon4" #valueToSearch>
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-success" role="button" type="submit" (click)="find()">Consultar</button>
          <button class="btn btn-primary" role="button" routerLink="/fruit/0">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container-table" *ngIf="fruits?.length > 0">
    <table>
      <caption>Lista de Frutas</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Imagem</th>
          <th scope="col">Qtd.</th>
          <th scope="col">Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of fruits'>
          <td>
            <span>{{ item.id }}</span>
          </td>
          <td>
            <span>{{ item.name }}</span>
          </td>
          <td>
            <span>
              <ngx-avatar [src]="'data:image/jpeg;base64,' + item.picture" size="30" value="28%" [round]="true" [name]="item.name"></ngx-avatar>
            </span>
          </td>
          <td>
            <span>{{ item.availableQuantity }}</span>
          </td>
          <td>
            <span>R$ {{ item.price }}</span>
          </td>
          <td class="status">
            <span [class]="item.availableQuantity > 0 ? 'disponivel' : 'indisponivel'">
              {{ item.availableQuantity > 0 ? 'Disponivel' : 'Indisponível' }}
            </span>
          </td>
          <td>
            <app-menu-list [route]="'fruit/' + item.id" (modelEmitter)="reloadList($event)" ></app-menu-list>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <app-pagination [items]="pages" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>
